.l .home-filter-buttons-wrap {
  justify-content: flex-start !important;
}
.showCaseBeforLogin .drawkit-header:after {
  content: "Make your webpages and apps more engaging";
}
.showCaseAfterLogin .drawkit-header:after {
  content: "Get inspired";
}

.primeInPlans .premium-plan:after {
  content: "Current";
  padding: 8px;
  background: #1aa1e5;
  border-radius: 20px;
}
.freeUser.free-plan:after {
  content: "Current";
  padding: 8px;
  background: #1aa1e5;
  border-radius: 20px;
}
/* .notLogedInPlans .free-plan:after .notLogedInPlans .premium-plan:after {
  content:'Current';
  padding:8px;
  background:#1aa1e5;
  border-radius:20px;
} */
