
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;600&display=swap'); */

@font-face {
    font-family: inter;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
  }

@media screen and (max-width: 991px){
 .w-nav-menu {
    display: none;
}
}
